.headerClientes{
    img{
        width: 10%;
        float: left;
    }
    h1{
        position: relative;
        top: 30%;
    }
}

.nav{
    li{
        
    }
    span{
        position: relative;
        top: 15%;
        float: left;
    }
}

.cards{
    img{
        
    }
}