<div class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col headerClientes">
        <span>
          <img src="../../../assets/mujer.png" class="img-fluid rounded-start" alt="ImagenUsuario">
        </span>
        <h1>Clientes</h1>
      </div>
    </div>

    <div class="row">
      <div class="col nav">      
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <span class="material-icons"> menu </span>
            <a ngbNavLink>Vista Card</a>  
          </li>
          <li [ngbNavItem]="2">
            <span class="material-icons"> menu </span>
            <a ngbNavLink>Lista</a>    
          </li> 
          <li [ngbNavItem]="3">
            <span class="material-icons"> add_circle_outline </span> 
            <a ngbNavLink>Adicionar</a>    
          </li>                          
          
        </ul>            
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>    
    </div>
    
    <div *ngIf="active == 1">    
      <app-cards-clientes></app-cards-clientes>
    </div>
    <div *ngIf="active == 2">    
      <app-listar-clientes></app-listar-clientes>
    </div>
    <div *ngIf="active == 3">    
      <app-agregar-cliente></app-agregar-cliente>
    </div>
  </div>
</div>