<ul ngbNav [(activeId)]="activeId" class="nav-tabs">
    <li [ngbNavItem]="1">
      <span><a ngbNavLink>Inicio</a></span>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Galeria</a>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Contacto</a>
    </li>
  </ul>
  Active = {{activeId}}
<div *ngIf="activeId == 2">
    <ul>
        <li *ngFor="let item of fotos">          
            <img src="../../assets/{{item.ruta}}" alt="{{item.nombre}}" width="200px">}
        </li>   
    </ul>
</div>
<div *ngIf="activeId==1">Bienvenida</div>

<div *ngIf="activeId==3">
  <div *ngIf="!estado">
     <form [formGroup]="formulario" (ngSubmit)="validacion()" novalidate>
     <ul>
        <li>
         <label>Nombre Completo</label>
         <input type="text" formControlName="nombre" placeholder="Nombre Completo" >
        
         <div *ngIf="formulario.controls['nombre'].invalid && (formulario.controls['nombre'].dirty || formulario.controls['nombre'].touched)" class="alert alert-danger">
             <div *ngIf="formulario.controls['nombre'].hasError('required')">
               * Nombre obligatorio
             </div> 
             <div *ngIf="formulario.controls['nombre'].hasError('maxlength')">
               * Tamaño máximo de 10
             </div>  
        </div>
       </li>
       <li>
         <label>Asunto</label>
         <input type="text" formControlName="asunto" placeholder="Asunto">
       </li>
       <li>
         <label>Comentarios</label>
         <textarea formControlName="comentarios" cols="10" rows="10"></textarea>
       </li>
       <li><button type="submit" [disabled]="formulario.invalid">Enviar</button></li>
       </ul>
    </form>
   </div>
   <div *ngIf="estado">
        Mensaje enviado
   </div>
</div>