.container-fluid{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.container{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);    
}

.headerClientes{
    img{
        width: 10%;
        float: left;
    }
    h1{
        position: relative;
        top: 30%;
    }
    margin: 2% 0 2% 0;
}

.nav{   
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);    
    width: 100%; 
    
    ul{
        padding-left: 3%;
        li{
            width: 25%;                            
        }
    }
    span{
        position: relative;
        top: 15%;
        right: 3%;
        float: left;       
        padding-left: 10%; 
        
    }
    margin: 0 0 2% 0;
    button{
        width: 13%;        
        span{
            top: 5%;
        }
        background-color: #fde8d0;
        
    }

}

