<div class="container">
  <div class="row">
    <div class="col headerClientes">
      <span>
        <img src="../../../assets/mujer.png" class="img-fluid rounded-start" alt="ImagenUsuario">
      </span>
      <h1>Clientes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col nav">      
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <span class="material-icons"> menu </span>
          <a ngbNavLink>Vista Card</a>  
        </li>
        <li [ngbNavItem]="2">
          <span class="material-icons"> menu </span>
          <a ngbNavLink>Lista</a>    
        </li>        
        <li [ngbNavItem]="2">
          <span class="material-icons"> add_circle_outline </span> 
          <button type="button" class="btn btn-light">Adicionar</button>   
        </li>        
      </ul>            
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>    
  </div>
  <div class="row cards" *ngIf="active == 1">    
    <div *ngFor="let personas of listaPersonas" class="col">      
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img *ngIf="personas.genero == 0" src="../../../assets/hombre.png" class="img-fluid rounded-start" alt="ImagenUsuario">
            <img *ngIf="personas.genero == 1" src="../../../assets/mujer.png" class="img-fluid rounded-start" alt="ImagenUsuario">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{personas.nombre}}</h5>
              <p class="card-text">{{personas.lugar}}</p>              
            </div>
          </div>
        </div>        
      </div>


    </div>
  </div>
</div>