// listar clientes con ngfor
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Lista de clientes</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre Completo</th>
            <th>Género</th>
            <th>País</th>
            <th>Ciudad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of listaPersonas">
            <td>{{persona.nombre}} {{persona.apellido}}</td>
            <td>{{persona.genero}}</td>
            <td>{{persona.pais}}</td>
            <td>{{persona.ciudad}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>